h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
span.navbar-text{
  display: flex;
  align-items: center;
}
.social-icon{
  display: inline-block;
  margin-left: 14px;
}
.social-icon a{
  width: 42px;
  height: 42px;
  background-color: #121212;
  
}